Source: ros-hydro-palantir
Maintainer: William Curran <curranw@onid.oregonstate.edu>
Section: python
Priority: extra
Standards-Version: 0.1

Package: ros-hydro-palantir
Architecture: any
Description: Logging for ros-comm
Provides: ros-hydro-palantir
